* {
  margin: 0;
  padding: 0;
  font-family: Suez One, serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 255px;
}

.header img {
  width: 75px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  flex-grow: 0;
}

.trybewarts-login input {
  margin-right: 10px;
}

.btn-outline-primary {
  color: rgb(78, 44, 131);
  border-color: rgb(78, 44, 131);
}

.btn-outline-primary:hover {
  color: white;
  background-color: rgb(78, 44, 131);
  border-color: rgb(78, 44, 131);
}

main {
  display: flex;
  justify-content: center;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#evaluation-form h3 {
  align-self: center;
  margin: 30px;
}

#container-forms {
  display: flex;
  flex-flow: wrap, row;
}

#container-forms0 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#container-forms0 input {
  margin: 5px;
}

#trybewarts-forms-logo {
  height: 700px;
}

.textarea {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#label-infos {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(60, 63, 72);
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
  padding: 15px;
}

footer p {
  margin-bottom: 0;
}

.container-family {
  display: flex;
  flex-direction: column;
}

.container-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-box {
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textarea-box {
  position: relative;
  display: inline-block;
}

.textarea-box span {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

/* estiliza o contador */
.count {
  background-color: rgb(78, 44, 131);
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  line-height: 0px;
  height: 15px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 400;
}

li {
  list-style: none;
}
